body {
    padding: 0;
    margin: 0;
    font-family: monospace;
    font-weight: bold;
    background-color: rgb(26 28 44);
    color: #00fff6;
}

.span {
    text-align: center;
    
    font-size: medium;
}
.visits,.ip,.timezone {
    color: aqua;
}
*{
    text-align: center;
    font-style: italic;
    font-size: 1.2em;
}
.header {
    color: darkmagenta;
}
.body-head,.head {
    padding-top: 20px;
    color: red;
}
.nav {
    color: cyan;
    padding-top: 1px;
    display: block;
}
.battery-head {
    color: red;
    padding-bottom: 0;
    padding-top: 20px;
}
.foot {
    padding-top: 200px;
    font-size: 0.7em;
}
.battery-percentage {
    padding-bottom: 20px;
}